# Sets #
##-> set is unordered collection of different data type elements
##-> It is define with { }
##-> set is immutable
##-> set is not index based
##-> sets contains only unique hashable value

In [1]:
#example
s={1,2,3,'codegnan','A',5.2}
print(s)

{1, 2, 3, 'A', 5.2, 'codegnan'}

In [3]:
#creating empty set and type
s1={}
s2=set()
print(type(s1),type(s2))

<class 'dict'> <class 'set'>

In [4]:
#set not allow unhashable data values
s={1,2,3,'codegnan','A',5.2,[1,2,3]}
print(s)

TypeError: unhashable type: 'list'

In [5]:
#not index based
s={1,2,3,'codegnan','A',5.2}
print(s[0])

TypeError: 'set' object is not subscriptable

In [6]:
#set allows unique values
s={1,2,3,4,6,3,2}
print(s)

{1, 2, 3, 4, 6}

In [7]:
#read set of integers from user
s=set(map(int,input().split()))
print(s)

1 2 3 4
{1, 2, 3, 4}

In [9]:
#read set of string from user
s=set(map(str,input().split()))
print(s)

1 2 1 2 a b a b
{'a', '2', '1', 'b'}

# Sets operations #
## 1. Union
## 2. Intersection
## 3. Difference
## 4. Symmetric difference
## 5. Subset
## 6. Superset
## 7. Disjoint set

## union- elements from either A or B or all elements from A and B without repetation
A={1,2,3,6}
B={3,4,5,6}
(A u B)={1,2,3,4,5,6}

## Intersection- common elements from A and B
A={1,2,3,4}
B={2,4,5,6}
A n B={2,4}

## Difference ##
A={1,2,3,4}
B={3,4,5,6}
A-B={1,2}
B-A={5,6}

## Symmetric Difference ##
All elements from A and B but not from common elements
A ^ B=(AuB)-(AnB)

## Subset ##
### The all set B elements are present in set A
###Then set B is subset of set A

## superset ##
### In set B all elements are present in set A then set A is superset of set B

## Disjoint set ##
### If there is no common elements between two sets then those two sets are disjoint sets

# Set methods #
## add(ele)- adds element to set
## update(iterable)- update the current set with new iterable elements
## remove(ele)- removes the element from set, otherwise key error
## disard(ele)- removes the ele from set, otherwise does nothing
## pop()- removes the random element from set
## clear()- removes all elements from set

In [11]:
s={1,2,3,4}
print("original set:",s)
s.add(100)
print("after add operation:",s)
s.update([1,2,30])
print("after update operation:",s)
s.remove(1)
print("after remove operation:",s)
s.discard(2)
print("after discard operation:",s)
s.pop()
print("after pop operation:",s)
s.clear()
print("after clear operation:",s)

original set: {1, 2, 3, 4}
after add operation: {1, 2, 3, 100, 4}
after update operation: {1, 2, 3, 100, 4, 30}
after remove operation: {2, 3, 100, 4, 30}
after discard operation: {3, 100, 4, 30}
after pop operation: {100, 4, 30}
after clear operation: set()

In [12]:
#union(),intersection(),difference(),symmetric_difference()
s1={1,2,3,4}
s2={3,4,5,6}
print(s1.union(s2))
print(s1.intersection(s2))
print(s1.difference(s2))
print(s1.symmetric_difference(s2))

{1, 2, 3, 4, 5, 6}
{3, 4}
{1, 2}
{1, 2, 5, 6}

In [13]:
#issubset(),issuperset(),isdisjoint()
s1={1,2,3,4,5,6}
s2={4,6}
print(s1.issubset(s2))
print(s2.issubset(s1))
print(s1.issuperset(s2))
print(s2.issuperset(s1))
print(s1.isdisjoint(s2))
print(s2.isdisjoint(s1))

False
True
True
False
False
False